<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TrackBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TrackBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://onlinetools.ups.com/webservices/Track"
                binding="basicHttpBinding" bindingConfiguration="TrackBinding"
                contract="TrackWS.TrackPortType" name="TrackPort" />
        </client>
    </system.serviceModel>
</configuration>